$showcase-background: url("./image_resources/UiltMp8.jpg");
$home-info-background: url("./image_resources/240852897_242096077921093_6010433017087975000_n.jpg");
$dark-color: #333;
$light-color: #fff;
$main: #f7c08a;
$footer-border: #444;
$btn-bg: #f4f4f4;
$border: #ddd;
$testemonial-img: url("./image_resources/56811270_2389365104633389_480095387126857728_n.jpg");
